.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.help {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.help__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--bg-color-light);
    cursor: pointer;
}

.app-logo {
    width: 50px;
    transform: translateX(15%);
}
