.input-container {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container__count {
    color: var(--bg-color-light);
    font-size: 5rem;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.target__text {
    margin-right: 10px;
}

.target__value {
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-light);
    border-radius: 50%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-filled,
.input-empty {
    border: 2px solid #FFF5E5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 45px;
    font-size: 1.2rem;
}

.input-filled {
    color: var(--bg-color);
    background-color: var(--primary-color);
}