.input-container {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.input-container__count {
    color: var(--bg-color-light);
    font-size: 7em;
    margin-bottom: 10px;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.target__text {
    margin-right: 10px;
    font-size: 1.4em;
}

.target__value {
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-light);
    border-radius: 50%;
    font-size: 1.5em;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-filled,
.input-empty {
    border: 2px solid #FFF5E5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 45px;
    font-size: 1.2rem;
}

.input-filled {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.shake {
    animation: shake 0.05s linear 8 alternate;
}

@keyframes shake {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(10%);
    }
}

.blink {
    animation: blink 0.1s linear 24 alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid #FFF5E5;
    border-bottom-color: transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}