.tile-clicked,
.tile {
    width: 60px;
    height: 60px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.tile__letter {
    font-size: 1.7em;
}

.tile__point {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7rem;
}

.enter-del {
    border: none;
    color: var(--primary-color);
}

.tile:nth-child(20),
.tile:nth-child(28) {
    width: 14%;
    background-color: var(--secondary-color);
}