
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #8F6E5B;
  --bg-color-light: #9C7E6C;
  --primary-color: #FFF5E5;
  --secondary-color: #725647;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
